<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NumberOfInvoicesToProcess" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="connectionstring" connectionString="Server=localhost;user id=sa;password=Test_test1;Database=CybMBSDb;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>